github "dexman/Minizip" ~> 1.4.0
github "krzyzanowskim/CryptoSwift" ~> 1.8.0
github "ra1028/DifferenceKit" ~> 1.3.0
github "readium/Fuzi" ~> 4.0.0
github "readium/GCDWebServer" ~> 4.0.0
github "readium/ZIPFoundation" ~> 3.0.1
github "scinfu/SwiftSoup" ~> 2.13.0
github "stephencelis/SQLite.swift" ~> 0.15.0
