/* Readium CSS
 Pagination module
 Repo: https://github.com/readium/readium-css */

:root {
    -webkit-touch-callout: none;
    font-size: 100%;
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    -webkit-columns: 30em 2;
    -moz-columns: 30em 2;
    columns: 30em 2;
    -webkit-column-gap: 0;
    -moz-column-gap: 0;
    column-gap: 0;
    -moz-column-fill: auto;
    column-fill: auto;
    -webkit-line-box-contain: block glyphs replaced;
}

body {
    box-sizing: border-box;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    padding: 0 10px;
}

a, h1, h2, h3, h4, h5, h6 {
    word-break: break-word !important;
}
