github "readium/r2-shared-swift" "develop"
#github "readium/r2-lcp-wrapper-swift" "develop"
github "SwiftyJSON/SwiftyJSON" == 3.1.4
github "mxcl/PromiseKit" == 4.5
github "stephencelis/SQLite.swift" == 0.11.4
github "krzyzanowskim/CryptoSwift" == 0.7.0
github "Hearst-DD/ObjectMapper" == 2.2
github "edrlab/ZIPFoundation" "master"
