github "readium/r2-shared-swift" "develop"
#github "readium/r2-lcp-wrapper-swift" "develop"
github "stephencelis/SQLite.swift" == 0.11.4
github "krzyzanowskim/CryptoSwift" == 0.7.0
github "edrlab/ZIPFoundation" "master"
