github "readium/r2-shared-swift" "develop"
#github "readium/r2-lcp-wrapper-swift" "develop"
github "krzyzanowskim/CryptoSwift" == 0.14.0
github "stephencelis/SQLite.swift" == 0.12
github "weichsel/ZIPFoundation" == 0.9.9
